<section id="dashboard-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="widget wviolet">
            <div ht-widget-header title="Ajustes" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
              <div class="col-xs-10">

                <form action="">
                  <div class="form-group">
                    <label for="objetivo">Objetivo Padrão</label>
                    <select class="form-control center-block">
                      <option value="" ng-repeat="objetivo in settingsCtrl.objetivos">{{objetivo}}</option>
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label for="valorMinimo">Valor Mínimo do Troco:</label>
                    <input type="number" step="any" min="0" class="form-control center-block" placeholder="Ex.: R$ 1,00">
                  </div>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-click="settingsCtrl.esconde()">Usar Porcentagem (Ex.: Compra de R$ 10,00 - 1% de troco = R$ 0,01)
                    </label>
                  </div> 

                </form>

                <form class="form-inline" ng-hide="{{settingsCtrl.esconder}}">
                    <div class="form-group">
                      <label for="porcentagem">Porcentagem</label>
                      <input type="number" min="0" class="form-control center-block" placeholder="Ex.: 1%">
                    </div>
                  </form>

              </div>

              <button class="btn btn-primary btn-block">Salvar Alterações</button>

            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>